bdateutil==0.1
beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==3.0.1
convertdate==2.4.0
decouple==0.0.7
hijri-converter==2.2.4
holidays==0.18
idna==3.4
korean-lunar-calendar==0.3.1
PyMeeus==0.5.12
python-dateutil==2.2
python-decouple==3.7
requests==2.28.2
six==1.16.0
SkPy==0.10.4
soupsieve==2.3.2.post1
urllib3==1.26.14
